* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
/* Setting the preloader section */
.pre-loader {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  z-index: 100;
}

.loader {
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top: 3px solid transparent;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pre-loader h2 {
  margin-top: 5vh;
  width: 80vw;
  text-align: center;
}

/* hiding the pre-loader */

.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* starting the main content */
.weatherApp {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

/* setting image section */
.imageSection {
  width: 50vw;
  height: 70vh;
}
.imageSection img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 750px) {
  .weatherApp {
    flex-direction: column;
  }
  .imageSection {
    order: 2;
    width: 90vw;
    height: 30vh;
  }
}
/* setting the actal weather app content */
.appContent {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .appContent {
    order: 1;
    width: 90vw;
    height: 60vh;
  }
}

.iconDiv,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.temperature-degree {
  color: #63ffcf;
  cursor: pointer;
}
.temperature-description {
  color: #ff6584;
}
